/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header {
	width: 346px;
	height: 1024px;
	background-color:black;
	border-bottom:thin;
	border-bottom-color:indianred;
	margin-top: 302px;
	color:red;
	float:left;
	text-align: center;
	font-size: 20px
}
#wrapper {
	width: 1024px;
	height: 4096px;
}

logo {
	width: 173px;
	height: 512px;
	
}
body {
	background-color:black;
}

.aboutme {
	width: 678px;
	height:1024px;
	background-color:white;
	float:left;
	color:black;
	text-align:center;
	
}

h2 {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 36px;
		
}

.bodytext {
	font-size: 20px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	text-align:left;
	padding-left: 20px;
	width: 630px;
	height: 750px;
}

.button {
	width: 150px;
	height: 30px;
	text-align:center;
	background-color:white;
	font-size:16px;
	padding-bottom: 0px;
	margin-left:60px;
	float:left;
	margin-top: 10px;
}

iframe {
	margin-left:500px;
}

footer {
width: 400px;
height: 50px;
margin-top: 100px;
}